<section *ngFor="let pokemon of pokelist">
  <div *ngIf="pokemon.details && !error">
    <section>
      <h2>
        {{ pokemon.name }}
      </h2>
      <ul>
        <li *ngFor="let value of pokemon.details.types">
          {{ value.type.name }}
        </li>
      </ul>
    </section>
    <section>
      <img [src]="pokemon.details.sprites.front_default" [alt]="pokemon.name">
    </section>
  </div>
</section>

<section *ngIf="error">
  <h1>Ops, Pokedex Parou de Funcionar!</h1>
  <h3>Tente Novamente...</h3>
  <img src="assets/error.png" alt="gastly">
</section>