<app-search-bar (emitSearch)="findPokemon($event)"></app-search-bar>

<section class="list">
  <div class="card" *ngFor="let pokemon of pokeList" (click)="detailPokemon(pokemon.details.id)">
    <section class="card__details" *ngIf="pokemon.details">
      <h2 class="card__details__title">
        {{ pokemon.name }}
      </h2>
      <ul class="card__details__list">
        <li class="card__details__list__type" *ngFor="let value of pokemon.details.types">
          {{ value.type.name }}
        </li>
      </ul>
    </section>
    <section *ngIf="pokemon.details">
      <img [src]="pokemon.details.sprites.front_default" [alt]="pokemon.name">
    </section>
  </div>
</section>

<app-error *ngIf="error"></app-error>