<app-search-bar (emitSearch)="findPokemon($event)"></app-search-bar>

<section *ngIf="!error">
  <div *ngFor="let pokemon of pokeList">
    <div (click)="detailPokemon(pokemon.details.id)" *ngIf="pokemon.details">
      <section>
        <h2>
          {{ pokemon.name }}
        </h2>
        <ul>
          <li *ngFor="let value of pokemon.details.types">
            {{ value.type.name }}
          </li>
        </ul>
      </section>
      <section>
        <img [src]="pokemon.details.sprites.front_default" [alt]="pokemon.name">
      </section>
    </div>
  </div>
</section>

<app-error *ngIf="error"></app-error>