@import '../../../styles/variables.scss';

.header {

  width: 100%;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-font-color;
    font-size: 3em;
  }

  img {
    width: 1.5em;
    clip: auto;
    image-rendering: pixelated;
  }

}