@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.slide-down {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}