$primary-background-color: #232130;
$secondary-background-color: #FFFFFF;
$secondary-font-color: #FFFFFF;
$tertiary-font-color: #F89339;
$primary-button-color: #F89339;
$secundary-button-color: #DE5A3A;